.car-summary-container {
  display: flex;
  justify-content: end;
}

.total-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.total-cost {
  color: #616e7c;
  font-size: 25px;
  font-weight: bold;
  font-family: roboto;
}
.span-count {
  color: #171f46;
}
.count-items {
  color: #616e7c;
  font-size: 20px;
  font-weight: bold;
  font-family: roboto;
}
